* { box-sizing: border-box;
    margin:auto;

} 

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;;
    color: #000000;
    padding: 1.5rem;

}

header, nav, main, footer { 
    max-width: 1366px; 
    margin: auto;
}

header {
    display: flex;
    flex-flow: row;
    justify-content: right;
    
}
header h1 {
    font-family: 'Open Sans', sans-serif;;
    text-align: right;
    margin: 0;
    padding: 0;
}

header img {
    width: 200px;
    justify-content: flex-start;
}

header .subheading {
    text-align: right;
    padding-bottom: .5em;
    
}

nav {
    background-color: #9FA3AD;
    text-align: center; 
}
nav button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: #000000;
    display: block;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%
}
nav ul li {
    display: block;
}
nav ul li a {
    display: block;
    width: 100;
    color: #0516FE;
    text-align: center;
    padding: 1rem;
    padding-left: .75rem;
    padding-right: .75rem;
    text-decoration: none;
    font-size: 1rem;
    border-top: 1ps solid rgba(0,0,0,.3)
}
nav ul li.active a {}
nav ul li a:hover {
    background-color: #D8D8D8;
    color: #000000;
}

nav ul.hide {
    display: none;
}

main {}

main h2 {
    padding: .5em;
}

main figure img {
    height: 160px;
    padding: 0;
    margin: 0;
}

main article {
    padding: 2rem;
    margin: auto;
    text-align: left;
   
}

main article img {
    width: 100%;
    float: center;
    padding: .5rem;
    
    
    

}

.town-article{
    padding-top: 1.5rem;
    
}

.current{
    width: 100px;
    height: auto;
    margin: 1em;
}

main picture img{
    width: 200px;
    float: center;
    padding-top: 1.5rem;
    
}
footer {
    padding-top: 1.5rem;
}

.forecast {
    display:none;
}

.weather-summary{
    text-align: center;
    padding: .5rem;
    background-color: 
    
}
.highlow{
    float: center;
    text-align: center;
    padding: .5rem
}

.conditions{
    text-align: center;
    padding-top: .5rem;
      
}

.header{
    text-align: center;
    padding-bottom: .5rem;
}


.contact{
    left: 0;
    margin: 0;
    background-color: #D8D8D8;
    text-align: center;

}

.footer-bar{
    left: 0;
    margin: 0;
    background-color: #9FA3AD;
    text-align: center;

}