 * { box-sizing: border-box;} 

body {
   font-size: 16px;
   font-family: georgia, sans-serif;
   color: #000000;
   padding: 1.5rem;

}

header, nav, main, footer { 
  max-width: 1366px; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}

header {
    
}
header h1 {
    font-family: georgia, sans-serif;
    text-align: right;
    margin: 0;
    padding: 0;
}

header img {
    width: 200px;
}

header .subheading {
    text-align: right;
    padding-bottom: 2rem;
}

nav {
    background-color: #9FA3AD;
    text-align: center; 
}
nav button {}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%
}
nav ul li {
    display: block;
}
nav ul li a {
    display: block;
    color: #0516FE;
    text-align: center;
    padding: .75rem;
    text-decoration: none;
    font-size: .9rem;
}
nav ul li.active a {}
nav ul li a:hover {
    background-color: #D8D8D8;
    color: #000000;
}

main {}

main h2 {}
main figure { 
    margin: 0 0 .2rem 2%; width:96%;
    
}
main figure img {
    width: 100%;
    height: auto;
    float: left;
}

main article {
    padding: .25rem;
    text-align: center;
    
}

main article img {
    width: 100%;
    height: auto;
    float: right;
}

.current{
    font-size: 20px;
    padding: .25rem;
    text-align: center;
    
}

main picture img{
    width: 200px;
    float: center;
    
}
footer {
   
}

.forecast {
    display:none;
}

.weather-summary{
    padding: .25rem;
    text-align: center;
    
}

.contact{
    left: 0;
    margin: 0;
    background-color: #D8D8D8;
    text-align: center;
}

.footer-bar{
    left: 0;
    margin: 0;
    background-color: #9FA3AD;
    text-align: center;
}