* { box-sizing: border-box;
    margin:auto;
} 

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;;
    color: #000000;
    padding: 1.5rem;
}

header, nav, main, footer { 
    max-width: 960px; 
    margin: auto;
}

header {
    display: flex;
    flex-flow: row;   
}

header h1 {
    font-family: 'Open Sans', sans-serif;;
    text-align: right;
    margin: 0;
    padding: 1rem;
}

header img {
    width: 150px;
    justify-content: flex-start;
}

header .subheading {
    text-align: right;
    padding-bottom: .5em;
    
}

nav {
    background-color: #9FA3AD;
    text-align: center; 
}
nav button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: #000000;
    display: block;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%
}
nav ul li {
    display: block;
}
nav ul li a {
    display: block;
    width: 100;
    color: #1e90ff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 1rem;
    border-top: 1ps solid rgba(0,0,0,.3)
}
nav ul li.active a {}
nav ul li a:hover {
    background-color: #D8D8D8;
    color: #000000;
}

nav ul.hide {
    display: none;
}

main {}

main h2 {
    padding: .5em;
}

main figure img {
    height: auto;
    padding: 0;
    width: 100%;
}

.cloudRain{
    height: auto;
    margin: auto;
    padding-left: 1.35rem;
   
}

.weatherClass{
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
}




.weather-summary{
    text-align: center;
}

main picture img{
    margin:auto;
    width: 150px;    
}

.contents{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: -10px;
    padding-top: 1.5rem;
}

.forecast {
    display:none;
}


main article {
    padding: 2rem;
    margin: auto;
    text-align: left;
   
}

.header{
    text-align: center;
    padding-bottom: .5rem;
}

main article img {
    width: 100%;
    height: auto;
    box-shadow: 3px 3px 3px #bbb;
    padding: .5rem;

}

.town-article{
    padding-top: 1.5rem;
    
}


footer {
    padding-top: 1.5rem;
}

.contact{
    left: 0;
    margin: 0;
    background-color: #D8D8D8;
    text-align: center;
    padding: .50rem

}

.footer-bar{
    left: 0;
    margin: 0;
    background-color: #9FA3AD;
    text-align: center;
    padding: .35rem;

}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
    

}

figcaption {
    font-size: .75rem;
}

