@media only screen and (min-width: 37.5em) {
    
    header img {
        width: 200px;
    }
    
    nav button { 
        display:none; 
    }  
    
    nav ul.hide {
        display: block;
    }
    
    section.forecast { 
        display: block;
        text-align: center;
        
    }  
    
    nav ul li{
        display: inline-block;
    }
    
    .weather-summary h3{
        
    }
      
    .weather-summary{
        display: flex;
        font-size: 20px;
        
    }
    
    .forecast{
        text-align: center;
        padding-top: 1.5rem;
    }
    
    main article img {
        width: 35%;
        float: right;
        margin: .25rem;
   }
    
   
    main figure img {
       padding-top: 1.5rem;
       padding-bottom: 1.5rem;
    
   }
    
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
 }
